body {
  background-image: url('background2.jpg');
  background-repeat: no-repeat;
}

#MainHeading {
	text-align: center;
	font-size: 50px;
	color: #8B0000;
	font-weight: bold;
	/*font-family: "Arial";*/
}

.NavBar {
	width: 80%;
	margin: 0 auto;
}

.TopBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

#Content {
	width: 80%;
	height: 1200px;
	border: black solid 2px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
}

li.nav {
  float: left;
}

a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#thanos {
	width: 100%;
}

#login {
		text-align: right;
		margin-right: 10%;
}

/*#footer {
	width: 890px;
	border-bottom: black solid 2px;
	border-left: black solid 2px;
	border-right: black solid 2px;
	background-color: white;
	margin: 0 auto;
}

.PageFooter {
	text-align: center;
}*/